:root {
    --primary-color: #010626;
    --secundary-color:#010B40;
    --another-color: #020F59;
}

.mynav {
    width: 70px;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: var(--secundary-color);
    transition: all 200ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    box-shadow: 0 2px 3px black;
}

.link-text {    
    color: white;
    margin-left: 10px;
    margin-bottom: 0;
    display: none;
    font-size: 25px;
}

.logo .link-text{
    font-size: 30px;
}

#togBut {
    transition: all 400ms ease;
    position: relative;
    transform: rotate(0deg);
    left: 15px;
}

.mynavOpen {
    width: 15rem;
}

.mynavOpen .link-text{
    display: block;
}

.mynavOpen #togBut{
    transform: rotate(180deg);
    left: 150px;
}

.arrow{
    transition: all 200ms ease;
    transform: rotate(0deg);
    position: relative;
    left: 10px;
}
.rotate {
    transform: rotate(180deg);
    left: 50px;
}

.movilNav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 60;
    
}

.item{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;    
    transition: all 200ms ease;
    filter: grayscale(80%) opacity(0.7);
}

.item-mov{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-end;    
}

.last {
    margin-top: auto;
}

.item:hover {
    filter: grayscale(0%) opacity(1);
}

.hblue:hover{
    background-color: #020F59;
}
.hyellow:hover{
    background-color: #F2B705;
}
.hdark:hover{
    background-color: #A6A6A6;
}

.icon{
    width: 50px;
    margin-left: 10px;
}

.logo{
    filter: grayscale(0%) opacity(1);
}

.emptyCard {
    width: 350px;
    height: 260px;
    border: 1px solid black;
    border-radius: 30px;
    background-image: url('./Images/newone.png');
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    position: relative;
    left: -20px;
}

.cardL {
    width: 350px;
    height: 260px;
    z-index: 20;
    border: 1px solid black;
    border-radius: 30px;
}
.cardTitle {
    width: auto;
    display: inline-block;
}

.cardL p, .cardL h5, .cardL small{
    margin-bottom: 0;    
    text-shadow: 0 0 2px black;
}
.bigTemp {
    font-size: 70px;
}

.desc{
    text-transform: capitalize;
}

.clBut {
    position: relative;
    left: -80px;
    transition: all 400ms ease;
}
.testtt:hover .clBut{
    left: 0;
}

.mytoast{
    height: 100px;
    width: 30vw;
    position: fixed;
    right: 20px;
    top: 0;
    background-color: #2372D9;
    border-radius: 30px;
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
    z-index: 500;
}

.mytoast_visible {
    visibility: visible;
    opacity: 1;
    top: 20px
}

.mytoast p{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    top: 20px;
}

.ContDiv {
    transition: all 300ms ease;
    opacity: 1;
}

.palete{
    width: 350px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    border: 1px solid black;
}

.closeDiv {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 30;
    opacity: 0.2;
    background-color: gray;
}


@media only screen and (max-width: 360px){
    .cardL {
        width: 250px;
        height: 280px;
    }
    .emptyCard{
        width: 250px;
        height: 280px;
    }
}
@media only screen and (min-width: 360px) and (max-width: 450px){
    .cardL {
        width: 300px;
    }
    .emptyCard{
        width: 300px;
    }
}

@media only screen and (max-width: 450px){
    .bigTemp {
        font-size: 40px;
    }
    .cardTitle{
        font-size: 35px;
    }
    .mytoast{
        width: 90vw;
    }
}

@media only screen and (min-width: 750px) and (max-width: 850px){
    .cardL {
        width: 300px;
    }
    .emptyCard {
        width: 300px;
    }
}

@media only screen and (max-width: 1000px){
    .mynav {
        left: -5rem;
    }
    .mynavOpen{
        left: 0;
    }
}

@media only screen and (min-width: 1000px){
    .movilNav {
        display: none;
    }
}
@media only screen and (min-width: 1190px) and (max-width: 1300px){
    .cardL {
        width: 300px;
    }
    .emptyCard {
        width: 300px;
    }
    .bigTemp {
        font-size: 40px;
    }
    .cardTitle{
        font-size: 35px;
    }
}

